* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
}

img {
    max-width: 100%;
}

legend {
    font-size: 1.2rem;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input:focus, textarea:focus {
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
}

input, textarea, select, button {
    min-width: 10rem;
    width: 20rem;
    margin: 0;

    -webkit-box-sizing: border-box;
    /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box;
    /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

.message {
    min-height: 6rem;
}

.Yes-No {
    min-width: auto;
    width: 2rem;
}

/* shell from readme */

/*  grids */

main {
	display: grid;
}

/* hero content */

.content {
	display: grid;
}

/* about content */

.about-content {
	display: grid;
}

/*  gallery */

.gallery {
	display: grid;
}

figure {
    display: grid;
}

/*  article */

article {
	display: grid;
}

/* form container */
.form-container {
	display: grid;
}

/* footer */

footer {
	display: grid;
}



/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {
    
    .mobile-first {
        display: none;
    }

	/*      hero content */
    
    .content {
        grid-template-columns: 1fr 8fr 1fr;
    }
    
    .content picture,
    .content p,
    .about-content {
        grid-column: 2/3;
    }

	/*	about content */

	/*	gallery */
    
    figure {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    figcaption {
        margin-left: 1rem;
    }

	/*	article */
    
    article, 
    .form-container{
        grid-template-columns: 1fr 60ch 1fr;
    }
    
    .story h1,
    .story h2,
    .story-body,
    .form-container h1,
    form {
        grid-column: 2/3;
    }

	/*	form */


}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {
    
    .mobile-first {
        display: none;
    }

	/*      hero content */
    
    
    
    

	/*	about content */

	/*	gallery */
    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    figure {
        grid-column: auto;
    }
    
    figure {
        grid-template-columns: 1fr;
    }

	/*	article */
    
    
	/*	form */

}